@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Sobre a app Analise de Investimento.</p>

<h3>O que o app faz?</h3>
<p>Este aplicativo solicita alguns dados de um investimento, e calcula o rendimento no decorrer dos anos.</p>

<h3>Qual o objetivo deste site?</h3>
Meu objetivo com este site é: Ter mais um aplicativo acessivel pela internet para composição do meu portifólio.

<h3>Tecnologias utilizadas</h3>
<ul>
    <li>C#</li>
    <li>ASP.NET</li>
    <li>Razor Pages</li>
    <li>JavaScript</li>
    <li>CSS - BootStrap</li>
    <li>Controle de Versão(GitHub)</li>
    <li>Azure DevOps</li>
</ul>



