@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Andre Programador<br />
    Rio de Janeiro - RJ<br />
    <abbr title="Phone">MeuTelefone</abbr>
    
</address>

<p>
    Conheça a pagina do desenvolvedor:
    <a href="https://andreprogramador.000webhostapp.com/" class="btn btn-primary">André Programador</a>
</p>

<address>
    <strong>Email:</strong>   <a href="mailto:andrer54@gmail.com">andrer54@gmail.com</a><br />

</address>