@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Analise de investimento</h1>
    <p class="lead">Forneça alguns dados do investimento como: <ul><li>Investimento mensal</li><li>Juro da aplicação</li></ul> Eo sistema calcula para você!</p>
    <p><a href="/Home/AnaliseInvestimento" class="btn btn-primary btn-lg">Acessar o Analisador &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Aplicação em ASPNET</h2>
        <p>
            Este utiliza os recursos do Framework ASP.NET MVC.
            Recursos avançados da plataforma DotNet, como Razor Pages, que dinamizam a criação dos apps.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Saiba mais.. &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Controle de Versão(GitHub)</h2>
        <p>O código do programa se encontra no link abaixo, e qualquer alteração realizada no repositorio deste app, é automaticamente integrada ao sistema em execução. (Azure e Github)</p>
        <p><a class="btn btn-default" href="https://github.com/andrer54/AnaliseDeInvestimentoASPNET">Acesse o repositório  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hospedagem Azure</h2>
        <p>Hospedamos esta aplicação no azure, que conta com inumeros serviços que agilizam a produção de software, como: Deployment Center, integração automatizada, etc.</p>
        <p><a class="btn btn-default" href="https://portal.azure.com/">Conheça o Azure &raquo;</a></p>
    </div>
</div>